@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    background-image: url(/css/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Dancing Script', cursive;
}

.About-Box {
    margin-top: 20px;
    height: auto;
    width: 1000px;
    background-color: rgba(214, 158, 200, 0.5);
    position: absolute;
    left: 0;
    right: auto;
    margin-left: 100px;
}

.Contact-Box {
    margin-top: 20px;
    height: auto;
    width: 500px;
    background-color: rgba(238, 168, 245, 0.5);
    position: absolute;
    right: 0;
    left: auto;
    margin-right: 100px;
}

@media (max-width: 1370px) {
    .About-Box {
        margin-top: 20px;
        height: auto;
        width: 750px;
        background-color: rgba(214, 158, 200, 0.5);
        position: absolute;
        left: 0;
        right: auto;
        margin-left: 100px;
    }

    .Contact-Box {
        margin-top: 20px;
        height: auto;
        width: 400px;
        background-color: rgba(238, 168, 245, 0.5);
        position: absolute;
        right: 0;
        left: auto;
        margin-right: 100px;
}
}

@media (max-width: 1365px) {
    .About-Box {
        margin-top: 20px;
        height: auto;
        width: 750px;
        background-color: rgba(214, 158, 200, 0.5);
        position: absolute;
        left: 0;
        right: auto;
        margin-left: 100px;
    }

    .Contact-Box {
        margin-top: 20px;
        height: auto;
        width: 400px;
        background-color: rgba(238, 168, 245, 0.5);
        position: absolute;
        right: 0;
        left: auto;
        margin-right: 100px;
}
}

@media (max-width: 500px) {
    .About-Box {
        height: auto;
        width: auto;
        background-color: rgba(214, 158, 200, 0.5);
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom:auto;
        position: relative;
    }

    .Contact-Box {
        height: auto;
        width: auto;
        background-color: rgba(238, 168, 245, 0.5);
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: auto;
        position: relative;
    }
}